target
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/ssh-key
terraform/ssh-key.pub
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/host-ips
terraform/creds.tf
